<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Array Sorterr</title>
</head>
<body>
    <header id="header">
        <nav id="navigation-outer-container">
            <div id="navigation-links-container">
                <ul>
                    <li class="sort-links">Bubble sort</li>
                    <li class="sort-links" >Selection sort</li>
                    <li class="sort-links">Insertion sort</li>
                    <li class="sort-links">Quick sort</li>
                    <li class="sort-links">Quick Select sort</li>
                    <li class="sort-links">Merge sort</li>
                    <li class="sort-links">Count sort</li>
                </ul>
            </div>
            <div class="website-logo">
                <h1>Array sorter</h1>
            </div>
            <div class="hamburger-btn">
                <i class="fa fa-bars" style="font-size:36px"></i>
            </div>
        </nav>
    </header>


    <main id="main-section">
        <div class="array-area">
            <!--area that contains bars that will be sorted-->
            <!-- <div class="array-bar" style="height: 10px; width: 25px; background-color: black;"></div>
            <div class="array-bar" style="height: 210px; width: 25px; background-color: black;"></div>
            <div class="array-bar" style="height: 500px; width: 25px; background-color: black;"></div> -->
        </div>
        <div class="button-area">
            <button type="submit" id="sort-array-btn-1">Sort</button>
            <button type="submit" id="gen-array-btn-2">Generate new array</button>
        </div>
    </main>
    <footer>
        <p>Array sorter &copy AF-Jama</p>
    </footer>
    <script src="../scripts/main.js"></script>
</body>
</html>